
/* css */


.form-check-label, .form-check-input {
    display: inline-block;
}

.form-check-label {
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#quiz-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .form-check-input {
    transform: scale(1.5); /* Adjust the scale factor to increase or decrease the size */
    /* margin-right: 5px; */
/* } */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.page {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background {
    background-color: #ffe6cc; /* Light orange background for questions */
}

#buttonBar {
    text-align: center;
    margin-top: 20px;
    background-color: #141414;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    margin-top: 10px;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .button {
        font-size: 14px;
    }
}


/* Add more styles for your light theme */
.light-theme {
    background-color: #fff;
    color: #333;
    background-image: url('assets/img/LightScreen-background.jpg'); /* Replace 'light-theme-background.jpg' with the path to your light theme background image */
    background-size: cover;
}

/* Add more styles for your dark theme */
.dark-theme {
    background-color: #333;
    color: #fff;
    background-image: url('assets/img/DarkScreen-background.jpg'); /* Replace 'light-theme-background.jpg' with the path to your light theme background image */
    background-size: cover;
}
/* Additional styles can be added based on your preferences */
