
/* css */
/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
} */

/* div {
    color: #f0f0f0;
}

.page {
    text-align: center;
    padding: 20px;
    /* display: none; */
    /* background-color: #04080F; */
/* } */

/* .container {
    text-align: center;
    
} */

/* button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none
}

#toggleButtonColor {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    /* border: none; */
    /* cursor: pointer; */
/* } */

/* #toggleButtonFontColor {
    background-color: #bf0603;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
} */

/* #buttonBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #363636;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
} */

/* #buttonBar button {
    margin-right: 10px;
}

form {
    background-color: #636363;
}

#background {
    background-color: #363636;
} */

.form-check-label, .form-check-input {
    display: inline-block;
}

.form-check-label {
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#quiz-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .form-check-input {
    transform: scale(1.5); /* Adjust the scale factor to increase or decrease the size */
    /* margin-right: 5px; */
/* } */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.page {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background {
    background-color: #ffe6cc; /* Light orange background for questions */
}

#buttonBar {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    margin-top: 10px;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .button {
        font-size: 14px;
    }
}


/* Add more styles for your light theme */
.light-theme {
    background-color: #fff;
    color: #333;
}

/* Add more styles for your dark theme */
.dark-theme {
    background-color: #333;
    color: #fff;
}
/* Additional styles can be added based on your preferences */
